<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844813708715-gib4ftdlkd445ud2frnr5q9u6k80e7df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844813708715-gib4ftdlkd445ud2frnr5q9u6k80e7df</string>
	<key>API_KEY</key>
	<string>AIzaSyCTELh_JOUTUoT2ogR4GYLU-EP5qmcdgJk</string>
	<key>GCM_SENDER_ID</key>
	<string>844813708715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ali.xxx</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-mobile-app-9f5f8</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-mobile-app-9f5f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844813708715:ios:4d7f2a263d01e7458cb6ee</string>
</dict>
</plist>